@media (min-width: 576px) { /* Small devices (landscape phones, 576px and up)*/
  .carousel-caption h5 { font-size: 1.1em;}
  .carousel-caption p {font-size: 1em;}  
}
@media (min-width: 768px) {/* Medium devices (tablets, 768px and up)*/
	.carousel-caption h5 { font-size: 1.4em;}
	.carousel-caption p {font-size: 1.2em;}  
  }
  @media (min-width: 992px) { /* Large devices (desktops, 992px and up)*/
	.carousel-caption h5 { font-size: 1.5em;}
	.carousel-caption p {font-size: 1.3em;}  
  }
  @media (min-width: 1200px) { /* Extra large devices (large desktops, 1200px and up)*/
	.carousel-caption h5 { font-size: 1.6em;}
	.carousel-caption p {font-size: 1.4em;}  
  }
h1 {
	color: #f2c66d;
}

h2, h3 {
	color: #EA7186;
}

h4 {
	color: #ffdb93;
}

h5 {
	color: #ffdb93;
	font-size: 1.4rem;
}

p {
	font-family: 'Teko', serif;
	color: white;
	font-size: 1.25rem;
}

.lowkey {
	font-family: 'Teko', serif;
	color: white;
	font-size: 1.1rem;
	font-weight: normal;
}

a {
	color: #ffb5c2
}

.divider {
	color: white;
	min-height: 3px;
	opacity: 1;
}

.divider-spaced {
	color: white;
	min-height: 3px;
	opacity: 1;
	margin: 25px 0px;
}

.entries {
	font-size: 1.15em;
}

.nav-bar-custom {
	padding: 10px 20px;
}

.content {
	padding-top: 40px;
}

.active {
	font-weight: bolder;
	border-bottom: .25rem solid #fff;
	background-color: #f2c66d;
	color: #002433;
}

.non-active {
	background-color: #002433;
	font-weight: bold;
	color: white;
	border-bottom: .25rem solid white;
}

.nav-link {
	margin: 0px 4px;
}

.nav-item {
	min-width: 120px;
	text-align: center;
}

.img-style {
	padding-bottom: 20px;
}

footer {
	padding-top: 100px;
}

.active:focus, .active:hover {
	color: #525252;
}

.non-active:focus, .non-active:hover {
	color: #EA7186;
}

/* Buttons */

.list-tags li .item {
	position: relative;
	display: block;
	padding: 0 20px;
	line-height: 34px;
	color: white;
	border: 2px solid white;
	border-radius: 36px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	text-decoration: none;
	font-weight: bold;
	background-color: #002433;
}

.list-tags li {
	position: relative;
	float: left;
	margin: 0 10px 10px 0;
	font-size: 14px;
	color: #00435f;
}

body {
	background-color: #00435f;
}

.carousel-caption {
	left: 10%;
	right: 10%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1em;
	background-color: rgb(0, 67, 95, 0.5); 
	border: white 4px solid;
}



/* Font Awesome specific CSS*/

/* Style all font awesome icons */

.fa {
	padding: 20px 0px;
	font-size: 30px;
}

/* Add a hover effect if you want */

.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */

.div-twitter {
	background-color: #55ACEE;
	border: solid 5px white;
}

.icon-twitter {
	color: white;
}

/* Github */

.div-github {
	background-color: #24292e;
	border: solid 5px white;
}

.icon-github {
	color: white;
}

/* Google Scholar */

.div-scholar {
	background-color: #dd4b39;
	border: solid 5px white;
}

.icon-scholar {
	color: white;
}

/* LinkedIn */

.div-linkedin {
	background-color: #007bb5;
	border: solid 5px white;
}

.icon-linkedin {
	color: white;
}